# ignore everything in the root directory
/*

## root
# zshrc
!.zshrc
# except .gitignore
!.gitignore
# stylua
!.stylua.toml
# tmux config
!/.tmux.conf

# wezterm
!/.wezterm.lua

## .config dir
!/.config
/.config/*
# nvim
!/.config/nvim
# starship toml
!/.config/starship.toml

# osx
.DS_Store
